<div class="responsive-wrapper"> 
  <h1>Define & Conquere</h1>
  <h3 class="inspiration-quote">“Named must your fear be before banish it you can.” —Yoda</h3>
  <h3 class="inspiration-quote">Many a false step was made by standing still</h3>

  <h2>Rules</h2>

  <h3>Nightmare</h3>
  <p><b>Define —</b>what are you hesistant to do or putting off?</p>

  <p><b>Worst-case Scenario—</b>what is the worst that could happen if you did what you're considering; <br>what doubt, fears, and "what-ifs" pop up? </p>

  <p><b>But Would You Die —</b>Would it be the end of your life?</p>
  <p><b>Negative Impact —</b>Scale of 1 to 10, what are the permenant impacts; are they really premanent</p>
  <p><b>Probability —</b>How likely do you think it is that they would actually happen?</p>

  <h3>Repair</h3>
  <p><b>The Fix —</b>Even if temporaryly, what steps could you take to repair the damage or get things back on the upswing?</p>
  
  <h3>Benefits</h3>
  <p><b>Real Probabilty —</b>Of both tempororary and permenant, what are positive outcomes & benefits that are more probable scenarios?</p><mat-hint>Think internal (confidience, self-esteem, etc) & external</mat-hint>
  <p><b>Positive Impact —</b>Scale of 1 to 10, what would the impact be of these more likely outcomes?</p>
  <p><b>At least Decent —</b>How likely is that you could produce at least a moderately good outcome?</p>
  <p><b>Above Average —</b>Have less intelligent people done this before and pulled it off?</p>

  <h3>Career Fix</h3>
  <p><b>Fired Fear —</b>If you were fired from you job today, what would you do to get things under financial control?</p><mat-hint>Imagine this scenario and run through steps 1 to 3 above</mat-hint>
  <p><b>Back on Track —</b>If you quite your job to test other options, hwo could you later get back on the same career track if you absolutely had to?</p>

  <h3></h3>
  <p><b>Define —</b>What are you putting off of fear?</p>
  <p>Usually, what we most fear doing is what we most need to do. That phone call, that conversion, whatever the action might be — it is fear of unknown outcomes that prevents us form doing what we need to do. 
  <br> Define the worst case, accept it, and do it. 
  <br><i>What we fear doing most is usually what we most need to do.</i>
  <br>A person's succes in life can usually be measured by the umber of uncomfortable conversations he or she is willing to have. Resolve to do one thing every day that you fear.
  </p>

  <h3>The Real Cost</h3>
  <p><b>Title —</b>What is costing you to postpone; what is the cost of inaction?</p><mat-hint>Think: finacially, emotionally, physically</mat-hint>
  <p><b>Title —</b>If you don't pursue this, where will you be in the future?</p><mat-hint>Think 1 year, 5 years, 10 years.</mat-hint>
  <p><b>Title —</b>How will you feel having allowed circumstance and fear to impose itself upon you and having allowed 10 years of your finite to pass doing what you know will not fulfill you?</p>
  <p>The only thing your regret are the risks you didn't take</p>
  <p>You are defined by what you do</p>

  <h3>It's Go Time</h3>
  <p>
    What are you waiting for?<br>
    If you can't answer this without some BS concept of "good timing" or "I'm not ready," the answer is simple: You're afraid, just like the rest of us.
    Develop the most important habit of those who excel and enjoy doing so: action.
  </p> 

  <p>
    "Action may not always bring happiness, but there is no happiness with action."
  </p>

  
    <mat-form-field appearance="standard">
      <!-- <mat-label>Legacy form field</mat-label> -->
      <input matInput>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mmt-spacer></mmt-spacer>


  
  
</div>
