<div class="responsive-wrapper">  

  <h1>Define & Conquere</h1>
  <h3 class="inspiration-quote">“Named must your fear be before banish it you can.” —Yoda</h3>

  <p><b>Define </b>— what are you hesistant to do or putting off?
  
    <mat-form-field appearance="standard">
      <!-- <mat-label>Legacy form field</mat-label> -->
      <input matInput>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>

  
  
</div>
