<div class="responsive-wrapper"> 
  <h1>Define & Conquer</h1>
  <h3 class="inspiration-quote">“Named must your fear be before banish it you can.” —Yoda</h3>
  <h3 class="inspiration-quote">Many a false step was made by standing still</h3>

  <h2>Rules</h2>
  <p><b>Type Out Your Anwers — Don't Skip</b></p>
  <p><b>Don't Over Think — Word Vomit Instead</b></p>
  <p><b>Write & Don't Edit/Delete — Aim for Volume</b></p>

  <h2>The Exercise</h2>
  <h3>Nightmare</h3>
  <mmt-question-textarea
    title="Define"
    question="what are you hesistant to do or putting off"
    placeholder="Type your Answer Here"
   >
  </mmt-question-textarea>
  <mmt-question-textarea
    title="Worst-case Scenario"
    question="what is the worst that could happen if you did what you're considering; what doubt, fears, and what-ifs pop up? "
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="But Would You Die"
    question="Would it be the end of your life?"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Negative Impact"
    question="Scale from 1 to 10,what are the permanent impacts; are they really permanent? "
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Probability"
    question="How likely do you think it is that they would actually happen?"
  ></mmt-question-textarea>

  <h3>Conquer</h3>
  <mmt-question-textarea
    title="The Fix"
    question="Even if temporarily, what spets could you take to repair the damage or get things back on the upswing?"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Real Probability"
    question="Of both temporary and permanent, what are positive outcomes & benefits that are more probable scenarios?"
    hint="Think internal (confidience, self-esteem, etc) & external"
  ></mmt-question-textarea>  
  <mmt-question-textarea
    title="Positive Impact"
    question="Scale of 1 to 10, what would the impact be of these more likely outcomes?"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="At least Decent"
    question="How likely is that you could produce at least a moderately good outcome?"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Above Average"
    question="Have less intelligent people done this before and pulled it off?"
  ></mmt-question-textarea>
  
  <h3>Career Fix</h3>
  <mmt-question-textarea
    title="Fired Fear"
    question="If you were fired from you job today, what would you do to get things under financial control?"
    hint="Imagine this scenario and run through steps 1 to 3 above"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Back on Track"
    question="If you quite your job to test other options, hwo could you later get back on the same career track if you absolutely had to?"
  ></mmt-question-textarea>
  
  <p><b>Define Once More—</b>What are you putting off of fear?</p>
  <p>Usually, what we most fear doing is what we most need to do. That phone call, that conversion, whatever the action might be — it is fear of unknown outcomes that prevents us form doing what we need to do. 
  <br> Define the worst case, accept it, and do it. 
  <br><i>What we fear doing most is usually what we most need to do.</i>
  <br>A person's succes in life can usually be measured by the umber of uncomfortable conversations he or she is willing to have. Resolve to do one thing every day that you fear.
  </p>

  <h3>The Real Cost</h3>
  <mmt-question-textarea
    title="Cost of Inaction"
    question="What is costing you to postpone; what is the cost of inaction?"
    hinst="Think: finacially, emotionally, physically"
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Bleak Future"
    question="If you don't pursue this, where will you be in the future?"
    hint="Think 1 year, 5 years, 10 years."
  ></mmt-question-textarea>
  <mmt-question-textarea
    title="Feel Regret"
    question="How will you feel having allowed circumstance and fear to impose itself upon you and having allowed 10 years of your finite to pass doing what you know will not fulfill you?"
  ></mmt-question-textarea>

  <p>The only thing your regret are the risks you didn't take</p>
  <p>You are defined by what you do</p>

  <h3>It's Go Time</h3>
  <p>
    What are you waiting for?<br>
    If you can't answer this without some BS concept of "good timing" or "I'm not ready," the answer is simple: You're afraid, just like the rest of us.
    Develop the most important habit of those who excel and enjoy doing so: action.
  </p> 

  <p>
    "Action may not always bring happiness, but there is no happiness with action."
  </p>
</div>
